<div id="content">
<h2>Everstats - All Daily Usages</h2>
<br/>
<%= form_tag :action => 'nodes' %>
 <p>
  <%= label_tag "Top" %>
  <%= text_field_tag "count", "10" %>
  <%= label_tag "nodes for the past" %>
  <%= text_field_tag "days", "7" %> 
  <%= label_tag "days" %>
  <%= submit_tag 'Report' %>
 </p>
</form>

<%= form_tag :action => 'slices' %>
 <p>
  <%= label_tag "Top" %>
  <%= text_field_tag "count", "10" %>
  <%= label_tag "slices for the past" %>
  <%= text_field_tag "days", "7" %> 
  <%= label_tag "days" %>
  <%= submit_tag 'Report' %>
 </p>
</form>

<h2>System Wide Activity</h2>
<% form_tag(:controller => "overall", :action => "byday", :method => "post") do %>
<p><b>Please choose the period to display</b></p>
<p>
From: <%= select_date Date.today, :prefix => :start_date %>  To: <%= select_date Date.today, :prefix => :end_date %>
</p>
<br>
<input type="submit" value="submit">
<% end %>

</div>
