<h1>Editing configuration</h1>

<% form_for(@configuration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :config_key %><br />
    <%= f.text_field :config_key %>
  </p>
  <p>
    <%= f.label :config_value %><br />
    <%= f.text_field :config_value %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @configuration %> |
<%= link_to 'Back', configurations_path %>