<h1>New node</h1>

<% form_for(@node) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </p>
  <p>
    <%= f.label :primaryipaddress %><br />
    <%= f.text_field :primaryipaddress %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', nodes_path %>